bitarray==2.9.2
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
idna==3.7
markdown-it-py==3.0.0
mdurl==0.1.2
pyarmor==8.5.9
pyarmor.cli.core==6.5.2
pycparser==2.22
pycryptodomex==3.20.0
Pygments==2.18.0
PyNaCl==1.5.0
pytoniq==0.1.39
pytoniq-core==0.1.36
requests==2.32.3
rich==13.7.1
setuptools==70.1.1
urllib3==2.2.2
x25519==0.0.2
